<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>StudentPal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="sreen" href="{% static 'styles/main.css' %}">


</head>
<body>
    {% include "nav_bar.html"%}

    
        {% if messages %}
        <div>
            {% for message in messages %}

            <h3>{{message}}</h3>

            {% endfor %}

        {% endif %}
        </div>

    {% block content %}


    {% endblock%}
</body>
</html>